<!DOCTYPE html>
<html lang="sv">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>QUIZ</title>
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/static/styles.css">
	</head> 
	<body>
	<div class="header-container3">
		<h1> <span style="color: #000000">&#9792;&hearts;&#9794;</span>
		</h1>
	</div>	
		<h1>{{ question_number }}. {{ question }}</h1>
	<div class="columnsquestions"> 
	<form class="columns2" action="{% url "answer_page" quiz.quiz_number question_number %}" method="post">
			 {% csrf_token %}
	<div class="columns2">		 
			<input type="radio" name="answer" value="1" checked> {{ answer1 }} <br><br>
			<input type="radio" name="answer" value="2"> {{ answer2 }} <br><br>
			<input type="radio" name="answer" value="3"> {{ answer3 }} <br><br><br><br>
			<input type="submit" value="&#8674;" class="input-search2 input-search3"> 
	</div>		
	</form>		
	</div>		
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
	</body>
</html>