<!DOCTYPE html>
<html lang="sv">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>QUIZ</title>
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/static/styles.css">
	</head> 
	<body>
	<div class="header-container2">
		<h1> NIC<span style="color: #FF237B">&#9792;</span>LE
		</h1>
	</div>	
	<div class="columns2"> 
			<p class="column-color"> 
			</p>
	</div>		
	<div class="columns3">	
			<P class="column-color2"> <span style="color: #000000">&dArr;</span>
			</P>
	</div>	
	<div class="button2">
   	 	<a href="file:///Users/nicolepehar/Desktop/quiz/quiz/quiz.html"> 
		<input type="submit" value="QUIZ" class="input-search2">
		</a>
	</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
	</body>
</html>	