<!DOCTYPE html>
<html lang="sv">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>QUIZ</title>
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/static/styles.css">
	</head> 
	<body>
	<div class="header-container">
		<h1 class="start-text"> Q<span style="color: #FF237B">&hearts;</span>IZ
		</h1>
	</div>	
	<div class="last-container">
	{% for quiz in quizzes %}
	<div class="quiz-container">
	<div class="buttons">
	   	 	<a href="{% url 'quiz_page' quiz.quiz_number %}"> 
			<input type="submit" value="&#9792;&hearts;&#9794;" class="input-search input-search1">
			</a>
		</div>
		<div class="columns"> 
			<p>  {{ quiz.name }}
			</p>
		</div>		
	</div>	
	{% endfor %}
	</div>
		<div class="bottomrow"> 
			<a href="mailto:nicole.pehar@gmail.com?Subject=KUL%20QUIZ&body=Hej%20Nicole,%20vilket%20fint%20quiz%20du%20har%20gjort!" target="_top"> 
			<p class="column-color"> nicole.pehar </p>
		</div>	
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
	</body>
</html>	