@font-face {
	font-family: Roboto_Mono;
	src: url(/static/Roboto_Mono/RobotoMono-Thin.ttf);
}

body {
	font-family: Roboto_Mono;
	background: #ffffff;
}

p {
	text-align:center;
	font-size:12.5px;
	color: #f9f9f2;
}

h1 {
	text-align:center;
	font-size: 90px;
	color: #000000;
}

a, a:visited, a:active {
	text-decoration: none;
}


.header-container {
	float: left;
	width: 100%;
	background-color: #ffffff;
	padding-top: 150px;
	padding-bottom: 150px;
}

.header-container2 {
	float: left;
	width: 100%;
	background-color: #ffffff;
	padding-top: 150px;
	padding-bottom: 100px;
}

.image-container {
	float: left;
	width: 100%;
	background-color: #ffffff;
	padding-top: 100px;
}

.text-container {
	float: left;
	width: 100%;
	background-color: #ffffff;
	padding: 30px;
}


.large-container{
	float: left;
	width: 100%;
	background-color: #000000;
}
.container {
	float: left;
	width: 35%;
	background-color: #000000;
}
.small-image	{
	display: block;
	float:left;
	width: 20%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.image	{
	display: block;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	opacity:0.3;


}

.columns {
	background-color: #BCB1B5;
	padding: 20px;
	margin-bottom: 30px;
	overflow: hidden;

}

.columns2 {
	float:left;
	width:100%;
	background-color: #ffffff;
	display: block; 
	padding-top: 50px;

}

.columns3 {
	float:left;
	width:100%;
	background-color: #ffffff;
	display: block; 
	padding-top: 20px;
	padding-bottom: 20px;

}

.buttons {
	background-color: #BCB1B5;
	padding-bottom: 20px;

}
.button2 {
	float:left;
	width:100%;
	background-color: #ffffff;
	display: block;
	padding-top: 50px;
	padding-bottom: 80px;

}

.quiz-container {
	float:left;
	width:33.33%;
	background-color: #BCB1B5;
	display: block;
	padding-top: 30px;
	overflow: hidden;

}

.top-boarder {
	float: left;
	width: 100%;
	background-color: #000000;
}

.input-search {
		height: 100px;
 		width: 100px;
 		border-radius: 50%;
  		color: #FF237B;
  		background: #181818; 
        border:10px;
        box-shadow: 0px 0px 50px #ffffff;
        text-align: center; 
        font-size: 35px;
} 

.input-search2 {
		height: 100px;
 		width: 100px;
 		border-radius: 50%;
  		color: #ffffff;
  		background: #FF237B; 
        border:10px;
        box-shadow: 0px 0px 30px #ffffff;
        text-align: center; 
        font-size: 35px;
} 

.text-color {
	color: #FF237B;
	font-size: 20px;
}

.text-color-quiz {
	color: #000000;
	font-size: 20px;
}

.column-color {
	color: #000000;
	font-size: 15px;
}

.column-color2 {
	color: #000000;
	font-size: 50px;
}

.last-container {
	width: 100%;
	background-color: #BCB1B5;
	overflow: hidden;
}


input[type="submit"] {
		position: relative;
        display: block;
        margin : 0 auto;
}


input[value="NICOLE"] {
                font-family: "Roboto_Mono";
}  

input[value="MATTIAS"] {
                font-family: "Roboto_Mono";
} 

input[value="LOVE"] {
                font-family: "Roboto_Mono";
} 


